img {
    clip-path: circle();
    max-width: 20% !important;
    display: flex !important;
    justify-content: center !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}